.container {
  min-width: 320px;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.container:before,
.container:after,
.row:before,
.row:after,
footer:before,
footer:after {
  display: table;
  content: " ";
}

.container:after,
.row:after,
footer:after {
  clear: both;
}

.column {
  position: relative;
  min-height: 1px;
}

@media (min-width: $break5) {

  .container {
    max-width: 1080px;
  }
}