/* Overlay style */
.nav-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  padding: 20px;
  font-size: 14px;
	z-index: 2090;
  overflow-y: scroll;
  background: rgba(255,255,255,0.9);
}

.overlay-close {
	width: 24px;
	height: 24px;
	position: absolute;
	right: 10px;
	top: 10px;
	overflow: hidden;
	border: none;
	background: url("public/assets/img/cross.png") no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 2100;
}

/* Effects */
.overlay-scale {
	visibility: hidden;
	opacity: 0;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);	
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

@media (min-width: $break4) {

  .overlay-close {
  	width: 40px;
	  height: 40px;
		right: 20px;
		top: 20px;
	}
}