/* Reset */
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; 
}
body { 
    overflow: hidden; 
    font-size: 14px;
    line-height: 20px;
    font-family: lato; 
    background-color: #E5E9F2; 
}

#root {
    padding-top: 60px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.app {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 960px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.page {
    padding: 0px 30px;
}

/* BANNER */

.header {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: baseline;
    z-index: 100;
    align-items: flex-start;
    flex-direction: column;
}

.banner {
    /* position: fixed; */
    top: 0; 
    left: 0; 
    height: 60%;
    width: 100%;
    background-color: #A0C8A0;
}


.logo {
    font-Size: 32px;
    margin-Top: 15px;
    margin-Left: 100px;
    margin-Bottom: 10px;
    font-family: Lato;
    color: white;
    display: flex;
}

.navbar {
    /* left: 60px; */
    /* top: 10px; */
    display: flex;
    align-self: center;
    justify-content: flex-start;
    align-content: space-around;
    align-items: center;
    /* float: right; */
    position: relative;
    /* z-index: 100; */
}

.navbar > div {
    display: inline;
}

.navelement {
    border: 0px;
    border: 10px;
    border-style: none;
    padding-right: 5px;

}
.navbutton {
    background-color: #E5E9F2;
    padding: 0px 2px 0px 2px;
    color: #999;
    padding: 2px;
    border: 0px hidden;
    font-family: Lato;
    box-shadow: 2px 2px 0px 0px rgba(175, 175, 175, .30);

}
.navbutton:hover {
    border-radius: 3px;
    cursor: pointer;
    transition: background-color .50s ease;
    color: #888;
    background-color: #FFF;

}
.navbutton:focus {
    outline: transparent;
}

/* List view styles */

.listview {
    /* display: inherit; */
    padding: inherit;
}

input.field {
    width: 90%;
}




/* List styles */
td, th, table {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

.maincontainer {
    background-color: #DCDCC8;
    display: flex;
    height: 100%;
    width: 100%;
    align-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px; 
    padding: 30px 30px;
    margin-top: 60px;
}

.listview > table {
    /* border-collapse: collapse; */
    border-radius: 10px;
    /* padding: 0px 30px; */
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

table {
    margin: 5px;
    box-shadow: 0 0 0 1px #666;
    border-collapse: collapse;
    border-style: hidden;
    /* border: 1px solid #999; */
    /* padding: 0.5rem; */
    text-align: left;
}


/*Classes for creating dialogs*/

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { 
    background: #00d9ff; 
}



button.edit {
    background-color: #00A6FF;
    border: none;
    padding: 9px;
    margin: 1px 2px;
    border-radius: 50%; 
    text-align: center;
    text-decoration: none;
    width: 60px;
    height: 60px;
    display: inline-block;
}

button.join {
    background-color: #77D353;
    border: none;
    padding: 9px;
    margin: 1px 2px;
    border-radius: 50%; 
    text-align: center;
    text-decoration: none;
    width: 60px;
    height: 60px;
    display: inline-block;
}

button.save {
    background-color: #969FAA;
    border: none;
    padding: 9px;
    margin: 1px 2px;
    border-radius: 50%; 
    text-align: center;
    text-decoration: none;
    width: 60px;
    height: 60px;
    display: inline-block;
}
button.live {
    background-color: #F95F62;
    border: none;
    padding: 9px;
    margin: 1px 2px;
    border-radius: 50%; 
    text-align: center;
    text-decoration: none;
    width: 60px;
    height: 60px;
    display: inline-block;
}

button.create {
    background-color: #13CE66;
    border: none;
    padding: 9px;
    margin: 1px 2px;
    border-radius: 50%; 
    text-align: center;
    text-decoration: none;
    width: 60px;
    height: 60px;
    display: inline-block;
}

button.delete {
    background-color: #F95F62;
    border: none;
    padding: 9px;
    margin: 1px 2px;
    border-radius: 50%; 
    text-align: center;
    text-decoration: none;
    width: 60px;
    height: 60px;
    display: inline-block; 
}

button:hover {
    background-color: #E5E9F2;
    border: 2px;
    border-color: rgb(121, 123, 128);
}

button.navigate {
    background-color: #F95F62;
}



.createbtn {
    background-color: #13CE66;
    border: 1px;
    border-radius: 20px;
    height:30px;
    width: 120px;
    font-family: lato;
    font-weight: bold;
    color: white;
    display: block;
    position: relative;
    left: 45%;
    right: 45%
}

.createbtn:hover {
    background-color: #13CE66;
}

.createbtn:focus {
    outline: transparent;
}



.test {
    color: white;
    text-decoration: none;
}
